<!DOCTYPE html>
<html
  class="{% if config.mode == 'serve' %}debug-screens{% endif %}"
  lang="{% if lang %}{{ lang }}{% else %}{{ config.default_language }}{% endif %}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="{% block description %}{{ config.description }}{% endblock description %}"
    />
    <meta name="author" content="{{ config.author }}" />

    <link
      rel="stylesheet"
      href="/main.g.css?v={{ get_hash(path='/static/main.g.css', base64=true) | safe }}"
    />
    <script>
      if ("color-theme" in localStorage) {
        var theme = localStorage.getItem("color-theme");

        switch (theme) {
          case "dark":
            document.documentElement.classList.add("dark");
            break;
          case "light":
            document.documentElement.classList.remove("dark");
            break;
          default: {
            var isDarkModePreferred = window.matchMedia(
              "(prefers-color-scheme: dark)"
            ).matches;

            if (isDarkModePreferred) {
              document.documentElement.classList.add("dark");
            }
          }
        }
      } else {
        var isDarkModePreferred = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;

        if (isDarkModePreferred) {
          document.documentElement.classList.add("dark");
        }
      }
    </script>
    <script
      defer
      src="/main.g.js?v={{ get_hash(path='/static/main.g.js', base64=true) | safe }}"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"
    ></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body
    class="flex flex-col min-h-screen text-purple-900 dark:text-purple-200 bg-gradient-to-b from-purple-50 to-white dark:from-gray-950 dark:to-gray-900"
  >
    <header
      class="flex flex-row items-center bg-gray-50 dark:bg-black border-t-4 border-t-purple-600 dark:border-t-purple-600 shadow dark:shadow-purple-800 dark:shadow-2xl px-1 md:px-4 py-1"
    >
      <a
        href="{{ config.base_url | safe }}"
        class="text-4xl sm:text-5xl lg:text-6xl dark:text-purple-200 mx-4 sm:mx-6 md:mx-8 lg:mx-10 drop-shadow-lg dark:shadow-gray-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8 md:w-12 md:h-12"
          fill="currentColor"
          viewBox="0 0 58.318 47.948"
        >
          <g
            id="svgGroup"
            stroke-linecap="round"
            fill-rule="evenodd"
            font-size="9pt"
            stroke-width="0.25mm"
          >
            <path
              d="M 39.999 28.111 L 28.473 47.948 L 0.036 0 L 17.019 0 L 29.882 21.318 L 39.999 3.975 L 39.999 28.111 Z M 58.318 47.948 L 42.348 47.948 L 42.348 0 L 58.318 0 L 58.318 47.948 Z M 14.923 47.948 L 0 47.948 L 0 4.444 L 14.923 29.484 L 14.923 47.948 Z"
              vector-effect="non-scaling-stroke"
            />
          </g>
        </svg>
      </a>
      <nav>
        <ul class="flex flex-row gap-2 md:gap-6 text-sm sm:text-base">
          <li>
            <a
              class="uppercase hover:underline"
              href="{{ config.base_url | safe }}"
              >Home</a
            >
          </li>
          <li>
            <a
              class="uppercase hover:underline"
              href="{{ get_url(path='@/about_me.md') | safe }}"
              >about</a
            >
          </li>
        </ul>
      </nav>
      <button
        id="theme-toggle"
        type="button"
        aria-label="Toggle dark mode"
        class="ml-auto mr-4 self-center bg-purple-200 dark:text-purple-700 dark:bg-purple-200 border-[1px] dark:border-purple-700 border-purple-700 rounded-lg p-1"
      >
        <svg
          id="theme-toggle-dark-icon"
          class="w-4 h-4 md:w-5 md:h-5 hidden"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
          ></path>
        </svg>
        <svg
          id="theme-toggle-light-icon"
          class="w-5 h-5 hidden"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            fill-rule="evenodd"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </header>

    <main
      id="rootContainer"
      class="flex-1 py-6 px-8 mx-auto max-w-sm md:max-w-3xl lg:max-w-5xl {% block main_extra_classes %}{% endblock main_extra_classes %}"
    >
      {% block main %}{% endblock main %}
    </main>

    <footer
      class="flex flex-row max-h-24 items-center justify-center border-t-[0.5px] border-gray-200 dark:border-gray-600 py-1 lg:py-2"
    >
      <small
        class="flex flex-col items-center justify-center text-xs font-light dark:text-purple-300"
      >
        <p class="flex items-center justify-center gap-2">
          <span>Contact &rightarrow;</span>
          <a
            href="https://github.com/abjrcode"
            target="_blank"
            aria-label="Blog's GitHub Repository"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-3.5 h-3.5"
              fill="currentColor"
              aria-hidden="true"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          <a
            href="https://twitter.com/abjrcode"
            target="_blank"
            aria-label="Blog Author Twitter Account"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-3.5 h-3.5"
              fill="currentColor"
              aria-hidden="true"
              viewBox="0 0 20 20"
            >
              <path
                fill="currentColor"
                d="M12.186 8.672 18.743.947h-2.927l-5.005 5.9-4.44-5.9H0l7.434 9.876-6.986 8.23h2.927l5.434-6.4 4.82 6.4H20L12.186 8.672Zm-2.267 2.671L8.544 9.515 3.2 2.42h2.2l4.312 5.719 1.375 1.828 5.731 7.613h-2.2l-4.699-6.237Z"
              />
            </svg>
          </a>
        </p>

        <p>
          &copy;
          <time datetime="{{ now() | date(format='%Y') }}"
            >{{ now() | date(format="%Y") }}</time
          >
          — {{ config.author }}
        </p>

        <p>
          All rights reserved. &nbsp;
          <a
            class="underline"
            href="https://github.com/abjrcode/blog-madin#license"
            target="_blank"
            >License</a
          >
        </p>
      </small>
    </footer>
    {%block giscus_script %} {% endblock giscus_script %}
  </body>
</html>
