<!DOCTYPE html>
<html
  class="{% if config.mode == 'serve' %}debug-screens{% endif %}"
  lang="{% if lang %}{{ lang }}{% else %}{{ config.default_language }}{% endif %}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{% block description %}{{ config.description }}{% endblock description %}"
    />
    <meta name="author" content="{{ config.extra.author.name }}" />

    <link rel="stylesheet" href="main.generated.css" />
    <script>
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script defer src="main.generated.js"></script>

    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body class="flex flex-col min-h-screen bg-orange-100 dark:bg-orange-950">
    <header>{% block header %}{% endblock header %}</header>

    <main class="flex-1 flex flex-col items-center justify-center">
      {% block main %}{% endblock main %}
    </main>

    <footer
      class="flex flex-row max-h-24 items-center justify-center border-t-[1px] border-orange-200 dark:border-orange-800 py-2 lg:py-4"
    >
      <small
        class="flex flex-col items-center justify-center text-xs font-light dark:text-gray-400"
      >
        <span
          >&copy;
          <time datetime="{{ now() | date(format='%Y') }}"
            >{{ now() | date(format="%Y") }}</time
          >
          — {{ config.extra.author.name }}</span
        >
        <p>
          All rights reserved. &nbsp;
          <a
            class="underline"
            href="https://github.com/abjrcode/blog-madin#license"
            target="_blank"
            >License</a
          >
        </p>
      </small>
    </footer>

    <button
      id="theme-toggle"
      type="button"
      class="fixed right-4 top-4 text-gray-500 border-[1px] border-orange-200 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1"
    >
      <svg
        id="theme-toggle-dark-icon"
        class="w-5 h-5 hidden"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
        ></path>
      </svg>
      <svg
        id="theme-toggle-light-icon"
        class="w-5 h-5 hidden"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </body>
</html>
