{% extends "base.html" %}
{% block main %}
<h1 class="mx-auto max-w-4xl text-4xl md:text-5xl font-medium mt-0 mb-8 border-b-0">Latest Articles</h1>
<div class="relative mx-auto max-w-4xl">
  <div class="absolute left-1/2 -z-10 border-primary-500 dark:border-primary-200 border-l h-full" aria-hidden="true"></div>
  {% set posts = [get_section(path=p) for p in section.subsections] | sort(attribute="extra.date") | reverse %}
  <ul class="grid grid-cols-1 gap-16">
    {% for post in posts[:10] %}
    <li class="list-none">
      {% if post.extra.type == "standalone" %}{{<post_card section={post} />}}{% else %}{{<series_card series={post} />}}{% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock main %}
