<html
  class="{{ config.mode | replace(from='serve', to='debug-screens') | replace(from='build', to='') }}"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.generated.css" />
    <script defer src="main.generated.js"></script>
    <title>Madin Blog</title>
  </head>

  <body class="bg-gray-100">
    <main
      class="flex flex-col items-center justify-center min-h-screen mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"
    >
      <h1 class="mx-auto text-7xl font-bold text-center text-gray-800">
        Welcome to Madin Blog
      </h1>
      <p class="mx-auto mt-4 text-center text-gray-600 text-5xl">Soon!</p>
    </main>
  </body>
</html>
