{% extends "base.html" %}
{% block main %}
<article>
  {{<post_header title={page.title} date={page.date} updated={page.updated or ""} />}}
  {% if page.higher or page.lower %}{{<series_toc series={get_section(path=page.ancestors[-1])} current={page.permalink} />}}{% endif %}
  {% if page.toc %}{{<post_toc toc={page.toc} />}}{% endif %}
  <div id="md-content">{{ page.content | safe }}</div>
</article>
{{<prev_next lower={page.lower} higher={page.higher} />}}
{{<scroll_to_top />}}
{% if not page.extra.comments_disabled and config.mode != "serve" %}{{<comments />}}{% endif %}
{% endblock main %}
