{% extends "base.html" %}
{% block main %}
{% if section.extra.type == "standalone" %}
<article>
  {{<post_header title={section.title} date={section.extra.date} updated={section.extra.updated or ""} />}}
  {% if section.toc %}{{<post_toc toc={section.toc} />}}{% endif %}
  <div id="md-content">{{ section.content | safe }}</div>
</article>
{{<scroll_to_top />}}
{% if not section.extra.comments_disabled and config.mode != "serve" %}{{<comments />}}{% endif %}
{% else %}
{{<series_card series={section} />}}
{% endif %}
{% endblock main %}
