{% macro render(parent_section, current_page) %} {% set series =
get_section(path=parent_section) %}

<fieldset
  class="border border-dotted border-purple-700 dark:border-purple-200 p-2"
>
  <legend
    class="uppercase px-1 bg-purple-800 dark:bg-purple-100 text-white dark:text-purple-800"
  >
    In this series
  </legend>
  <ol class="flex flex-col gap-4 list-roman list-inside">
    {% for post in series.pages %}
    <li>
      {% if post.permalink == current_page.permalink %}
      <span
        class="drop-shadow-sm dark:drop-shadow-[0_2px_4px_rgba(255,255,255,0.70)] font-semibold"
      >
        &rarr; {{ post.title }} &larr;
      </span>
      {% else %}
      <a href="{{ post.permalink }}"
        ><span class="font-semibold underline">{{ post.title }}</span>
      </a>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</fieldset>

{% endmacro render %}
