{% macro render(section) %} {% set sectionDate = section.extra.date %} {% if
section.pages %} {% set post_link = section.pages | first | get(key="permalink")
%} {% else %} {% set post_link = section.permalink %} {% endif %}
<div
  class="border border-primary-600 dark:border-primary-200 bg-primary-50 dark:bg-slate-900 shadow-xs rounded-md py-2 px-4 dark:hover:shadow-primary-200 hover:shadow-xl dark:hover:shadow-lg transition-all"
>
  <a class="no-underline" href="{{ post_link }}">
    <h3 class="border-0 m-0 font-semibold text-lg">{{ section.title }}</h3>
    <hr class="border-primary-600 dark:border-primary-200 border-dotted pb-4" />
    <div class="flex flex-col gap-8">
      <p class="text-sm line-clamp-3 text-ellipsis">
        {{ section.description | default(value="No description") }}
      </p>
      <time
        class="font-light text-xs self-end dark:"
        aria-label="Published on"
        x-data="{relativeDate: window.madin.relativeDate('{{ sectionDate | date(format='%Y-%m-%dT00:00') }}') }"
        x-text="'{{ sectionDate | date(format='%d %B \u2014 %Y') }}' + '&nbsp; (' + relativeDate + ')'"
        x-datetime="{{ sectionDate }}"
      ></time>
    </div>
  </a>
  <div>{% endmacro render %}</div>
</div>
